<app-navigation />
<app-information />

<!-- events search -->
<main>
  <h2>Search Events</h2>
  <!-- search form -->
  <form id="search-form" (ngSubmit)="formSubmit()">
    <label>
      Date:
      <input type="date" id="search-date" [(ngModel)]="date" name="date" />
    </label>
    <label>
      Location:
      <input type="text" id="search-location" placeholder="Enter location" [(ngModel)]="location" name="location" />
    </label>
    <label>
      Category:
      <select id="search-category" [(ngModel)]="category" name="category">
        <option value="">--Select--</option>
        <option value="Gala Dinner">Gala Dinner</option>
        <option value="Fun Run">Fun Run</option>
        <option value="Auction">Auction</option>
        <option value="Concert">Concert</option>
      </select>
    </label>
    <button type="submit">Search</button>
    <button type="button" id="clear-filters" (click)="clearFilters()">Clear Filters</button>
  </form>

  <!-- search results -->
  <div id="search-results">
    <p style="color:red;" *ngIf="err">Error loading search results: {{err}}</p>

    <div class="event-card" *ngFor="let event of events">
      <img src="/images/28694602_charity_set_1.jpg">
      <h3>{{event.name}}</h3>
      <p><strong>Category:</strong> {{event.category}}</p>
      <p><strong>Location:</strong> {{event.location}}</p>
      <p><strong>Date:</strong> {{event.start_date | date}}</p>
      <p><strong>Price:</strong> ${{event.ticket_price}}</p>
      <p><strong>Status:</strong> <span class="{{event.status}}">{{event.status}}</span></p>
      <a class="view-details-button" [routerLink]="'/event/'+event.event_id">View Details</a>
    </div>
  </div>
</main>
