<app-navigation />
<app-information />

<main>
  <div id="event-details">
    <div *ngIf="event" class="event-card">
      <h2>{{event.name}}</h2>
      <p><strong>Status:</strong> <span class="${event.status}">{{event.status}}</span></p>
      <p><strong>Organisation:</strong> {{event.organisation}}</p>
      <p><strong>Category:</strong> {{event.category}}</p>
      <p><strong>Location:</strong> {{event.location}}</p>
      <p><strong>Date:</strong> {{event.start_date | date}} - ${{event.end_date | date}}</p>
      <p><strong>Price:</strong> ${{event.ticket_price}}</p>
      <p><strong>Goal:</strong> ${{event.goal_amount}} | <strong>Raised:</strong> ${{event.raised_amount}}</p>
      <p><strong>Description:</strong> {{event.description}}</p>

      <div class="weather-card" *ngIf="weather">
        <img src="/images/weather.png" alt="Weather" style="width: 50px;" />
        <h3>Today's Weather</h3>
        <p><strong>Condition:</strong> {{ getWeatherDescription(weather.code) }}</p>
        <p><strong>Temperature:</strong> {{weather.min}}°C - {{weather.max}}°C</p>
      </div>
    </div>
  </div>

  <div class="event-card">
    <div class="registration-list-header">
      <h2>Registration List</h2>
      <button class="button" (click)="toRegister()">Register</button>
    </div>
    <table *ngIf="registrations.length > 0;">
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Tickets</th>
        <th>Total Amount</th>
        <th>Registration Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let r of registrations">
        <td>{{ r.full_name }}</td>
        <td>{{ r.email }}</td>
        <td>{{ r.tickets }}</td>
        <td>${{ r.total_amount }}</td>
        <td>{{ r.registration_date | date:'medium' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</main>
