<app-navigation />
<app-information />

<!-- events list -->
<main>
  <div class="block-1">
    <h2>Bayside Community Care is the charitable arm of Bayside Church.</h2>
    <p class="short-desc">We aim to see people empowered, connected and appreciated as valuable community members. </p>
    <h2>Upcoming & Current Events</h2>
  </div>
  <div id="events-list">
    <p style="color:red;" *ngIf="err">Error loading events: {{err}}</p>

    <div class="event-card" *ngFor="let event of events">
      <img src="/images/28694602_charity_set_1.jpg">
      <h3>{{event.name}}</h3>
      <p><strong>Category:</strong> {{event.category}}</p>
      <p><strong>Location:</strong> {{event.location}}</p>
      <p><strong>Date:</strong> {{event.start_date | date}}</p>
      <p><strong>Price:</strong> ${{event.ticket_price}}</p>
      <p><strong>Status:</strong> <span class="{{event.status}}">{{event.status}}</span></p>
      <a class="view-details-button" [routerLink]="'/event/'+event.event_id">View Details</a>
    </div>
  </div>
</main>
