.events-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
}

th {
  background-color: #71BE44;
  color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.actions {
  display: flex;
  gap: 10px;
}

button {
  padding: 8px 15px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-color: #0072BC;
  color: white;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #005f99;
}
